@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
  font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary: #1d4ed8;
  --color-secondary: #9333ea;
  --color-accent: #f59e0b;
}

::-webkit-scrollbar{
  display: none;
}
